@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/* CSS Document */

body,td,th,p{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #ecf0f1;
  box-shadow: 0px 2px 2px black;
	margin: 0 auto;
}
ul, li {
	font-family: "Open Sans",Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #333;
}
a {
	color: black;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2c3e50;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans",Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  min-height: 100%;
	box-sizing: border-box;
	padding: 120px 0 0 0;
	background-color: white;
}
#footer {
  background-color: #444;
  color: white;
  font-size: 0.9rem;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a{
	color: white;
}
/* ====================== Navigation ====================== */

nav {
  width: 100%;
  text-align:center;
	position: fixed;
	z-index: 1;
	box-shadow: 0 2px 5px black;
  background-color: white;
	padding: 15px 0;
}


nav h1 a {
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-family: "Times New Roman";
	width: 100%;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}


/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
	border-top: 2px #ccc solid;
	border-bottom: 2px #ccc solid;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: auto;
	min-height: 230px;
  margin: 0 auto;
	display: block;
  background-color: white;
  align-items: center;
	text-align: center;
	border-bottom: 2px #ccc solid;
}
.filter-options h2 {
  color: black;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1rem;
	padding: 50px 0;
}
.filter-options select {
  background-color: white;
  border: 3px solid black;
  font-family: inherit;
  font-size: 0.9rem;
	color: black;
	font-weight: bold;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 32px;
  width: 70%;
	border-radius: 15px;
	display: inline-block;
	max-width: 400px;
  transition: border 0.5s;
}
.filter-options select:hover, filter-options select:focus{
	  border: 3px solid #95a5a6 !important;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: white;
  list-style: outside none none;
	display: flex;
	flex-wrap: wrap;
  margin: 0 auto;
	padding: 32px 0;
	width: 100%;
	box-sizing: border-box;


}
#restaurants-list li {
  background-color: #ecf0f1;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  min-height: 380px;
  padding: 25px 30px 25px;
  text-align: center;
	width:100%;
	margin: 10px 0;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
	height: auto;
  max-width: 800px;
	max-height: 600px;
}
#restaurants-list li h1 {
  color: black;
  font-family: "Times New Roman", Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 1.2rem;
}
#restaurants-list li a {
	background-color: white;
	color: black;
  border: 3px solid black;
	font-weight: bold;
  display: inline-block;
  font-size: 0.9rem;
	margin: 15px 0 0;
  padding: 8px 30px 10px;
	box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
	border-radius: 15px;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

#restaurants-list li a:hover, #restaurants-list li a:focus{
	  background-color: black;
		color: white;
}





/* ====================== RESTAURANT.HTML ====================== */
.inside #maincontent{
	box-sizing: border-box;
	padding: 10px 0;
	display: block;
	padding: 120px 0;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
	height: auto;
	margin: 0 auto;
  width: 100%;
}
.inside #map {
  background-color: #ccc;
}


/*#restaurant-name {
  color: white;
	background-color: orange;
  font-family: Arial,sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0;
  margin: 0;
	padding: 10px 0;
  text-transform: uppercase;
  line-height: 1.1;
	border-radius: 15px 15px 0 0;
}*/

#restaurant-container{
	margin: 32px auto;
	text-align: center;

}
#restaurant-img {
	width: 100%;
	margin: 0;
}

#restaurant-address {
  font-size: 1.1rem;
  margin: 10px 0px;
}
#restaurant-cuisine {

  color: black;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	font-family: "Times New Roman";
}

#restaurant-container, #reviews-container {
	width: 100%;
	background-color: white;
	box-sizing: border-box;
  border: 1px solid #d9d9d9;
}
#restaurant-hours{
	padding: 12px 30px 30px 12px;
	box-sizing: border-box;
	margin: 0 auto;
}


#reviews-container h2, #restaurant-name{
	text-align: center;
	margin: 0;
	font-size: 2.3rem;
	font-family: "Times New Roman";
	padding: 15px 0;
}

#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0px 0 30px;
  padding: 5px 20px 5px;
}
#reviews-list li p {
  margin: 0 0 10px;
}


/* ====================== 600px =< ====================== */
@media screen and (min-width: 600px){
	#content-wrapper{
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-wrap: wrap;

	}
	#restaurants-list li {
		width:33%;
		margin: 15px auto;
}

#content-wrapper{
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}
#restaurant-container, #reviews-container{
	box-sizing: border-box;
	margin: 15px auto;
	width: 45%;

}

}


/* ====================== 1200px =< ====================== */
@media screen and (min-width: 1200px){
	body{
		width: 1200px;
		margin: 0 auto;
	}
	nav{
		width: 1200px;
	}
	#content-wrapper{
		margin: 0 auto;
		width: 100%;
		display: flex;
		flex-wrap: wrap;

	}
	#restaurant-container, #reviews-container{
		box-sizing: border-box;
		margin: 15px auto;
		width: 45%;

}

	#restaurants-list li {
		width:25%;
		margin: 15px auto;
}
